@import '../../Variables.scss';

.search-page {
    h2{
        @include textStyle;

        color: $darkGrey;
    }
}


.movieResults {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: space-evenly;
}